* {
    padding: 0;
    margin: 0;
  }
  
  .navbar {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-top: 2rem;
    background-color: white;
    width: auto;
    position: relative;
  
  }
  
  .navbar li {
    cursor: pointer;
    flex-wrap: nowrap;
    float: right;
    padding-right: 0.3vw;
    color: black;
    font-size: 1.5rem;
    font-family: 'Iceberg', cursive;
    margin-left: 2rem;
    padding-bottom: 0;
  
  }
  
  .logo {
    font-weight: bold;
    padding-right: 15rem;
  }
  
  .navbar a {
    color: black;
    text-decoration: none;
  }
  
 .navbar li:hover {
    background-color: #227F9D;
    border: transparent;
    border-radius: 7px;
  }

