.sideNavTitle{
    font-size: 2rem;
    font-weight: 900;
}
.sideNavContainer{
    background-color: #F4F6F8 ;
    width: 20vw;
 height: 100vh;
 padding: 1rem;
}

.sideNavLinks{
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}

.sideNavContainer li{
    padding-top: 10%;
}

.sideNavContainer ul{
    list-style-type: none;
}

