h4{
    font-weight: 400;
}
h5{
    color: rgb(0,0,0,0.72);
}
.myOrdersCardContainer{
    background-color: #D6D6D6;
    width: 95%;
    height: auto;
}
.buttons{
    float: right;
    margin-right: 65%;
    margin-bottom: 0.75rem;
    cursor: pointer;  
}
.containerText{
float: right;
margin-right: 65%;
}
.buttonsContainer{

}