*{
    font-family: 'Iceberg', cursive;
 
}
.modalContainer{
    position: fixed;
    bottom:50%;
    right:50%;
    transform: translate(50%, 50%);
    background-color: white;
    z-index: 1000;
    border-radius: 1rem;
    background: #05152E;
    width: 25%;
    height: auto;
  
}

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}
.createAccountFormTopBanner{
    background-color: #227F9D;
    color: white;
    font-size: 2rem;
    border-radius: 1rem 1rem 0rem 0rem;
    text-align: center;
    padding: 1rem;
   
}