* {
    margin: 0;
    padding: 0;
}

.navbar {
    position: relative;
    display: flex;
    width: auto;
}

.rt-box {
    position: relative;
    float: right;
    height: 100vh;
    width: 30vw;
    background-color: #227F9D;
    margin-right: 0px;
}

.rt-box input {
    border: 1px solid grey;
    border-radius: 30px;
    height: 30px;
    width: 270px;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #fff;

}
.search {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-left: 1rem;
}
.small-box{
    display: flex;
}
.search-icon{
    margin-left:-28px;
    margin-top: 5px;
    font-size: 20px;
    font-weight:300;
}
.profile-icon img{
    height: 60px;
}
.profile-icon{
    margin-top: 10px;
    margin-left: 20px;
}
button{
    border-radius: 33px;
    margin-left: 1rem;
    border: 1px solid aliceblue;
    height: 2.5rem;
    margin-top: 25px;
    cursor: pointer;
    background-color: #227F9D;
    width: 2.7rem;
    color: aliceblue;
}