ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: sticky;
  margin-top: 0.7rem;
   
}
li{
    cursor: pointer;
    display: inline-flex;
    padding-left: 1vw;
    float: right;
    padding-right: 0.3vw;
    color: black;
    font-family: 'Inter', sans-serif;

}

a{
  color: black;
  text-decoration: none;
}
li:hover{
  background-color: #e05413;
  border:transparent;
  border-radius: 7px;
}