.userDetailsContainer{
    font-family: 'Iceberg', cursive;
    background-color: white;
    height: 100vh;
    width: 70vw;
    position: absolute;
    top:1vh;
    left:22vw;
    padding:2rem;
    
}
.userDetailsContainer img{
    height: 10rem;
    width: 10rem;
    border-radius: 23rem;
}

h2{
    font-weight: lighter;
    margin-top: 1rem;
}

.Info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3vh;
   row-gap: 1vh;
   font-weight: 600;
   font-size: 1.3rem;
}
@media (max-width: 650px) {
    .userDetailsContainer{
      left: 50vw;
    }
   }