.footerContainer {
    height: 18vh;
    background-color: #e05413;
    margin-top: 10rem;
    display: flex;
    padding-bottom: 4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
    
  }
  .socialIcons {
    width: 55%;
    height: 45%;
    position: relative;
    top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
  }
  