*{
    font-family: 'Iceberg', cursive;
 
}
.modalContainer{
    position: fixed;
    bottom:50%;
    right:50%;
    transform: translate(50%, 50%);
    background-color: white;
    z-index: 1000;
    border-radius: 1rem;
    background: #05152E;
    width: 25%;
    height: auto;
  
}

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}
#loginButtonOnModal{
    width: 35%;
    height: 15%;
    color: white;
    font-size: 1rem;
    background-color: #227F9D;
    border: transparent;
    border-radius: 1rem;
   align-self: center;
   margin-left: 0;
   position: relative;
   right: 10%;
   cursor: pointer;
   margin-top: 3%;
}

.loginInfoEnter{
    display: inline-block;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
   
    margin-top: 5%;
 
}

.loginInfoIcon{
    margin-right: 12px;
}


form input{
 
    width: 55%;
    background-color: #05152E;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
}

.loginFormTopBanner{
    background-color: #227F9D;
    color: white;
    font-size: 2rem;
    border-radius: 1rem 1rem 0rem 0rem;
    text-align: center;
    padding: 1rem;
   
}

.options a{
    text-decoration: none;
color: white;
display: inline;
font-weight: 100;
margin-bottom: 3%;
margin-left: 3%;
cursor: pointer;
font-size: small;
}
    
form{
    padding: 5%;
}