*{
    font-family: 'Iceberg', cursive;
 
}
.modalContainer{
    position: fixed;
    bottom:50%;
    right:50%;
    transform: translate(50%, 50%);
    background-color: white;
    z-index: 1000;
    border-radius: 1rem;
    background: #05152E;
    width: 25vw;
    height: auto;
    min-height: 55vh;
}

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}
#loginButtonOnModal{
cursor: pointer;
background: #227F9D;
border: transparent;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 0.8rem;
width: 10vw;
padding: 1rem;
position: absolute;
left: 30%;
bottom: 5%;
color: aliceblue;
font-size: 1rem;
}

.loginInfoEnter{
   margin-top: 25px;
    cursor: pointer;
    float: left;
    font-size: 1rem;
    color: aliceblue;
}
form input{
    display: flex;
    background-color: #05152E;
    padding: 0;
    box-shadow: 0px 0px 0px;
    justify-content: flex-start;
    color: aliceblue;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    width: 45%;
}
form{
    margin-left: 1rem;
}

.loginFormTopBanner{
    position: absolute ;
    font-size: 2rem;
    text-align: center;
    background-color: #227F9D;
 margin-bottom: 1rem;
 width: 100%;
 padding-top: 1rem;
 padding-bottom: 1rem;
border-radius: 1rem 1rem 0rem 0rem;
color: aliceblue;
top: 0px;
}

.options h5{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    color: aliceblue;
    font-weight: 200;
    margin-left: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}
.options{
    
    justify-content: space-between;
    padding-bottom: 1rem;
}